ComputerGanderProject\ComputerGander\ComputerGander\bin"
ComputerGanderProject\ComputerGander\ComputerGander\obj"
ComputerGanderProject\ComputerGander\ComputerGander\ComputerGander.csproj.user"
ComputerGanderProject\ComputerGander\ComputerGander\Form1.resx"